[Unit]
Description=Podman Compose {{ common_service_name }}
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ common_compose_base_dir }}/{{ common_service_name }}
ExecStart=/usr/bin/podman-compose -f {{ common_compose_base_dir }}/{{ common_service_name }}/docker-compose.yml up -d
ExecStop=/usr/bin/podman-compose -f {{ common_compose_base_dir }}/{{ common_service_name }}/docker-compose.yml down
TimeoutStartSec=300

[Install]
WantedBy=default.target
