JWT_ENABLED=true
JWT_SECRET={{ cloud_onlyoffice_jwt_secret }}
DB_TYPE=mariadb
DB_HOST={{ cloud_onlyoffice_db_host }}
DB_PORT=3306
DB_NAME={{ cloud_onlyoffice_db_name }}
DB_USER={{ cloud_onlyoffice_db_user }}
DB_PWD={{ cloud_onlyoffice_db_password }}
REDIS_SERVER_HOST={{ cloud_onlyoffice_redis_host }}
REDIS_SERVER_PORT=6379
REDIS_SERVER_USER={{ cloud_onlyoffice_redis_user }}
REDIS_SERVER_PASS={{ cloud_onlyoffice_redis_pass }}
REDIS_SERVER_DB={{ cloud_onlyoffice_redis_db }}
AMQP_TYPE=rabbitmq
AMQP_URI={{ cloud_onlyoffice_amqp_uri }}
